*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     background-color: black;
}

.wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 85vh;
}
.wrapper .loader {
     display: flex;
     justify-content: space-evenly;
    padding: 0 20px;
}
.wrapper .loade {
     background: #fff;
     width: 30px;
     height: 30px;
     border-radius: 50px;
     margin: 0px 10px;
     animation: load 0.8s ease infinite;
}

.loader .loade.one {
     animation-delay: 0.3s;
}
.loader .loade.two {
     animation-delay: 0.4s;
}
.loader .loade.three {
     animation-delay: 0.5s;
}
.loader .loade.four {
     animation-delay: 0.6s;
}

@keyframes load {
     0% {
          width: 30px;
          height: 30px;
     }

     50% {
          width: 20px;
          height: 20px;
     }
}